* {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(26, 5, 5);
}

.section {
    min-height: 100vh;
}

.section-header {
    height: 10vh;
    position: relative;
}

.section-header h1 {
    color: rgb(218, 218, 218);
    margin-left: 10%;
    position: absolute;
    bottom: 0px;
}

.section-content-container {
    margin: auto;
    width: 80%;
    display: flex;
    border-top: 1px solid rgb(196, 196, 196);
    padding: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.red-letters {
    color: rgb(255, 67, 67);
}

.card-container {
    height: 450px;
    width: 320px;
    text-align: center;
    position: relative;
    padding: 20px;
    margin-top: 20px;
}

/* -------------------- nav bar ----------------------*/

#home-page-nav-bar {
    height: 10%;
    z-index: 1;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(26, 5, 5);
}

#nav-bar-logo-container {
    width: 20%;
    position: relative;
    margin-left: 20px;
}

#nav-bar-logo-container p {
    color: white;
    position: absolute;
    font-size: 50px;
    font-weight: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#nav-bar-links-container {
    width: 80%;
    margin: 20px;
    max-width: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#nav-bar-links-container a {
    color: white;
    text-decoration: none;
}

/* -------------------- home page ----------------------*/

#home-page {
    height: 100vh;
}

#home-page-body {
    height: 100vh;
    position: relative;
}

#home-page-content-container {
    width: 80%;
    height: 370px;
    position: relative;
    left: 10%;
    right: 10%;
    top: 25%;
    bottom: 20%;
    max-width: 500px;
}

#home-page-content-container-text {
    position: absolute;
    height: 70%;
    width: 100%;
}

#home-page-content-container-text p {
    color: rgb(255, 60, 60);
    letter-spacing: 1px;
    font-weight: 400;
    letter-spacing: 1px;
}

#home-page-content-container-text p:first-child {
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: 200;
}

#home-page-content-container-text p:last-child {
    font-size: 18px;
    margin-top: 15px;
    line-height: 150%;
    margin-bottom: 10px;
    font-weight: 200;
}

#home-page-header {
    color: white;
}

#home-page-sub-header {
    color: rgb(150, 150, 150);
}

#home-page-content-container-resume {
    position: absolute;
    bottom: 0px;
    height: 8%;
    width: 26%;
    border: 1px solid rgb(255, 58, 58);
    border-radius: 10px;
    font-size: 20px;
    color: rgb(255, 58, 58);
    background-color: transparent;
    cursor: pointer;
    padding: 10px;
    text-decoration: none;
    text-align: center;
}

#home-page-content-container-resume:hover {
    background-color: rgb(255, 58, 58);
    transition: background-color 0.5s, color 0.5s;
    color: white;
}

#home-page-content-container-resume:focus {
    outline: none;
    box-shadow: none;
}

/* -------------------- about me ----------------------*/

#spencer-pic {
    height: 300px;
    border-radius: 300px;
    opacity: 0.7;
}

#about-me-text-content {
    margin-top: 20px;
    font-size: 20px;
    letter-spacing: 1px;
    color: white;
    line-height: 150%;
    max-width: 700px;
    font-weight: 200;
}

#about-me-text-content p {
    margin-bottom: 20px;
}

#spencer-pic-container {
    margin-top: 20px;
}

/* -------------------- projects ----------------------*/

#project-section {
    margin-top: 150px;
}

.project-title {
    color: rgb(49, 49, 49);
    font-size: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(122, 122, 122);
}

.project-card {
    margin: auto;
    height: 100%;
    padding: 10px;
    background-color: rgb(196, 196, 196);
    border-radius: 15px;
}

#project-container {
    margin-top: 20px;
}

.project-pic-container {
    height: 30%;
    margin-top: 10px;
}

.project-description {
    height: 15%;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
    letter-spacing: 1px;
    color: rgb(20, 20, 20);
    font-weight: 400;
}

.project-technologies {
    height: 15%;
    background-color: rgb(184, 184, 184);
    margin: 0% 5% 7% 5%;
    border-radius: 10px;
    display: flex;
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.project-links {
    display: flex;
    justify-content: space-around;
    font-size: 18px;
    align-items: center;
    
    border-top: 1px solid rgb(122, 122, 122);
}

.project-links a {
    text-decoration: none;
    color: rgb(73, 73, 73);
    margin-top: 15px;
}

.project-img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
    margin-top: 5px;
}

.demo-button {
    padding: 10px;
    border-radius: 5px;
    background-color: gray;
    color: white !important;
}

/* -------------------- education & experience ----------------------*/

#experience-section {
    margin-top: 150px;
}

#experience-content-container {
    align-items: flex-start;
    font-size: 15px;
    letter-spacing: 1px;
    color: white;
    line-height: 150%;
}

.experience-container {
    width: 500px;
    margin-top: 70px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.041);
}

.experience-container h3 {
    margin-top: 50px;
    font-size: 24px;
    margin-bottom: 5px;
}

.experience-container h3, .experience-container h4 {
    font-weight: 200;
}

/* -------------------- blogs ----------------------*/

#blogs-section {
    margin-top: 150px;
}

#blog-content-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog-card-container {
    height: 220px;
    width: 140px;
    padding: 5px;
    margin-top: 10px;
}

.blog-card-container a {
    text-decoration: none;
}

.blog-card {
    height: 200px;
    padding: 10px;
    background-color: rgb(196, 196, 196);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
}

.blog-card h4 {
    font-size: 15px;
    margin-bottom: 10px;
}

.blog-card img {
    width: 150px;
}