* {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

.section {
    background-color: rgb(39, 7, 7);
    height: 100vh;
}

.flex-section {
    background-color: rgb(39, 7, 7);
    overflow: visible;
}

.section-header {
    height: 10vh;
    position: relative;
}

.section-header h1 {
    color: rgb(196, 196, 196);
    margin-left: 10%;
    position: absolute;
    bottom: 0px;
}

.section-body {
    height: 90vh;
}

.section-content-container {
    margin: auto;
    width: 80%;
    height: 80%;
    display: flex;
    border-top: 1px solid rgb(196, 196, 196);
    padding: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.red-letters {
    color: rgb(255, 58, 58);
}

.card-container {
    height: 320px;
    width: 220px;
    text-align: center;
    position: relative;
    padding: 20px;
}

.project-card {
    border: 1px solid white;
    margin: auto;
    height: 100%;
}

/* -------------------- nav bar ----------------------*/

#home-page-nav-bar {
    height: 10%;
    z-index: 1;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    backdrop-filter: blur(10px);
}

#nav-bar-logo-container {
    width: 20%;
    position: relative;
}

#nav-bar-logo-container p {
    color: white;
    position: absolute;
    font-size: 50px;
    font-weight: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#nav-bar-links-container {
    width: 80%;
    margin: 20px;
    max-width: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#nav-bar-links-container p {
    color: white;
}

/* -------------------- home page ----------------------*/

#home-page {
    height: 100vh;
}

#home-page-body {
    height: 100%;
    position: relative;
}

#home-page-content-container {
    width: 80%;
    height: 60%;
    position: relative;
    left: 10%;
    right: 10%;
    top: 25%;
    bottom: 20%;
    max-width: 500px;
}

#home-page-content-container-text {
    position: absolute;
    height: 70%;
    width: 100%;
}

#home-page-content-container-text p {
    color: rgb(255, 58, 58);
    letter-spacing: 1px;
    font-weight: 400;
    letter-spacing: 1px;
}

#home-page-content-container-text p:first-child {
    font-size: 16px;
    margin-bottom: 15px;
}

#home-page-content-container-text p:last-child {
    font-size: 16px;
    margin-top: 15px;
    line-height: 150%;
}

#home-page-header {
    color: white;
}

#home-page-sub-header {
    color: rgb(150, 150, 150);
}

#home-page-content-container-resume {
    position: absolute;
    bottom: 10%;
    height: 10%;
    width: 40%;
    border: 1px solid rgb(255, 58, 58);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    font-size: 25px;
    color: rgb(255, 58, 58);
    padding-top: 16px;
}

#home-page-content-container-resume:hover {
    background-color: rgb(255, 58, 58);
    transition: background-color 0.5s, color 0.5s;
    color: white;
}

/* -------------------- about me ----------------------*/

#spencer-pic {
    height: 300px;
    border-radius: 300px;
    opacity: 0.7;
}

#about-me-text-content {
    font-size: 15px;
    letter-spacing: 1px;
    color: rgb(196, 196, 196);
    line-height: 150%;
    max-width: 700px;
}

#about-me-text-content p {
    margin-bottom: 20px;
}

/* -------------------- projects ----------------------*/

